body {
    font-family: 'Arial', sans-serif;
    background-color: #ebebeb;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2d2d2d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin: 0;
}

a {
    color: #1909f5;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 12px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

button {
    background-color: #015fda;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #3479e7;
}
.event-actions {
    margin-top: 8px; /* Add spacing between the links */
}

.details-link,
.edit-link,
.delete-link {
    font-weight: bold; /* Make the links bolder */
}
/* Add more styles as needed */
